
@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>
<table class="table">
    <tr>
        <th>
           Description
        </th>
        <th>
           from
        </th>
        <th>
           to
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Events)
    {
        <tr>
 <td>
                @item.description
            </td>
           
            <td>
                @item.from
            </td>

            <td>
                @item.to
            </td>
            <td>
                @Html.ActionLink("Approve", "ApproveEv", new { id = item.Id }) 
            </td>
        </tr>
        
    }

</table>

<h2>Services</h2>
<table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            from
        </th>
        <th>
            to
        </th>
        <th></th>
    </tr>
    @foreach(var s in ViewBag.Services)
    {
        <tr>
            <td>
                @s.description
            </td>
            <td>
                @s.from
            </td>
            <td>
                @s.to
            </td>
            <td>
                @Html.ActionLink("Approve","ApproveSe",new { id = s.Id })
            </td>
        </tr>
    }
</table>

<h2>Offers</h2>
<table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            from
        </th>
        <th>
            to
        </th>
    </tr>
    @foreach(var o in ViewBag.Offers)
    {
        <tr>
            <td>@o.description</td>
            <td>@o.from</td>
            <td>@o.to</td>
            <td>@Html.ActionLink("Approve","ApproveOf", new {id=o.Id })</td>
        </tr>
    }
</table>