@using Microsoft.AspNet.Identity
@using FestivalSales.Models;

@if (Request.IsAuthenticated)
{

    string idd = User.Identity.GetUserId();

    DataModel db = new DataModel();
    UserInfo info = db.UserInfos.FirstOrDefault(x => x.AccountId == idd);
    int type = info.userRole.Id;
    System.Diagnostics.Debug.WriteLine(type);

    if (type == 1)
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Admin")</li>
            <li>@Html.ActionLink("Feedback", "Feedback", "Admin")</li>
            <li>@Html.ActionLink("Users", "User", "Admin")</li>
        </ul>
    }
    if (type == 2)
    {
        <ul class="nav navbar-nav">
            @Html.DropDownList("register", new List<SelectListItem>
            {
                new SelectListItem{ Text = "Events",Value = "<li>@Html.ActionLink('Events', 'Index', 'Events')</li>" },
                new SelectListItem{Text = "Services",Value = "<li>@Html.ActionLink('Services', 'Index', 'Services')</li>" },
                new SelectListItem{ Text = "Offers",Value = "<li>@Html.ActionLink('Offers', 'Index', 'Offers')</li>" },
            }) 

            <li>@Html.ActionLink("Feedback", "Create", "Feedbacks")</li>
        </ul>
    }
    if (type == 3)
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Events", "Index", "Events")</li>
            <li>@Html.ActionLink("Services", "Index", "Services")</li>
            <li>@Html.ActionLink("Offers", "Index", "Offers")</li>
            <li>@Html.ActionLink("Feedback", "Index", "Feedbacks")</li>

        </ul>
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>

                @Html.ActionLink("Hello " + info.name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
    }
